html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.playground {
  position: fixed;
  top: 0;
  bottom: 40px;
  left: 0;
  width: 600px;
  background-color: #1E1E2C;
}

.code-editor {
  height: 33.33%;
  overflow: hidden;
  position: relative;
}

.editor-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}

.react-codemirror2 {
  max-height: calc(100% - 30px);
  overflow: auto;
}

.result {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 600px;
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
}

.footer {
  height: 40px;
  background-color: #111;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  height: 100%;
}

.users-online {
  color: white;
}

.users-online span:not(:last-of-type)::after {
  content: ',';
  display: inline-block;
  margin-right: 5px;
}

.users-online::before {
  content: 'Users online:';
  display: inline-block;
  margin-right: 10px;
}

.hidden {
  display: none;
}
